/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
#/bin/
/bin/doctrine
/bin/doctrine.php
/composer.phar
/.idea
/web/uploads/images/film-preview