{% extends 'AcmeFilmsBundle::base.html.twig' %}

{% block body -%}
    <h1>Category creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('category') }}">
            <button class="btn btn-primary">Back to the list</button>
        </a>
    </li>
</ul>
{% endblock %}
